.navbar {
    height: 74px;
    width: 1440px;
    border: 1px;
    
    background-color: rgba(52, 201, 75, 1);
    
    display: flex; 
    justify-content: space-between; 
    
    align-items: center;  
    position: absolute;
    vertical-align: bottom;
    flex-direction: row;
    
  }
  .navbar-logo{
    position: absolute;
    
    margin-left: 20px;
    width: 67px;
height: 34px;
top: 20px;
left: 10px;


opacity: 0px;
vertical-align: bottom;
align-items: center;
margin-right: 500px;
display: flex;
flex-direction: row;

  }
  

  
 