.navbar {
  width: 1440px;
height: 74px;

background: rgba(52, 201, 75, 1);
display: flex;
flex-direction: row;
align-items: center;



}

.navbar-logo {
  width: 67px;
  height: 34px;
  margin-left: 20px;
  
  
 
  
}
